<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
    <% include header %>
    <script src='/js/items.js'></script>
</head>
<body>
    <% include navbar %>
<div class="container">
    <div class="">

        <h1><span class="fa fa-sign-in"></span> Items</h1>

        <% if (items.length > 0) { %>
            <% for(var i = 0; i < items.length; i += 3) { %>
                <div class='row'>
                    <% for(var j = 0; j < 3 && i + j < items.length; j++) { %>
                        <% var item = items[i + j]; %>
                        <div class='item col-md-4'>
                            <div class='inner'>
                                <img src='<%= item.loadUrl %>'/>

                                <div><strong>Text</strong>: 
                                    <span class='editable' for-item='<%= item._id %>' contenteditable='true'>
                                      <% if (items[i].text) { %>
                                          <%- item.text %>
                                      <% } else { %>
                                          No text
                                      <% } %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        <% } else { %>
        <p>No items found for user.</p>
        <% } %>

        <% include footer %>

    </div>
</div>
</body>
</html>
