<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
    <% include header %>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Items</h1>

    <% if (items.length > 0) { %>
        <ul>
        <% for(var i = 0; i < items.length; i++) { %>
            <li>
                <img src='<%= items[i].loadUrl %>'/>

                <div><strong>Text</strong>: 
                    <% if (items[i].text) { %>
                        <%= items[i].text %>
                    <% } else { %>
                        No text
                    <% } %>
                </div>
            </li>
        <% } %>
        </ul>
    <% } else { %>
        <p>No items found for user.</p>
    <% } %>

    <% include footer %>

</div>
</div>
</body>
</html>
