<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Upload</h1>

        <form action="upload" method="post" enctype="multipart/form-data">
            <label for="imageUpload">Upload a file:</label>
            <input id="imageUpload" type="file" name="image"/>
            <input type="submit"/>
        </forM>
	</div>

</div>
</body>
</html>
