<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Upload</h1>

        <% if (auth) { %>
        <form action="upload" method="post" enctype="multipart/form-data">
            <label for="imageUpload">Upload a file:</label>
            <input id="imageUpload" type="file" name="image"/>
            <input type="submit"/>
        </form>
        <% } else { %>
        <div>
            Cannot upload unless you are logged in! (add login link).
            <p>Already have an account? <a href="/login?goto=upload">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
        <% } %>
	</div>

</div>
</body>
</html>
