body {
    padding-top: 30px;
}

.item {
    min-height: 300px;

}
.item .inner {
    width: 90%;
    margin: auto;
    margin-top: 1em;
}
.item img {
    width: 100%;
}

.global-navbar {
    background: #111;
    box-shadow: 0 5px 5px #ccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.global-navbar>* {
    display: inline-block;
}
.global-navbar>.user {
    margin: 0 1em;
    color: #fff;
}
